{{template "base" .}}

{{define "content"}}
    <div class="content-section">
        <form method="post" action="" novalidate>
            {{/*        <input type="hidden" name="csrf_token" value="">*/}}
            <div class="form-group mt-3">
                <label for="first_name">First Name:</label>
                <input class="form-control"
                       id="first_name" autocomplete="off" type='text'
                       name='first_name' value="" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input class="form-control"
                       id="last_name" autocomplete="off" type='text'
                       name='last_name' value="" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email"
                       autocomplete="off" type='email'
                       name='email' value="" required>
            </div>

            <div class="form-group">
                <label for="phone">Password:</label>
                <input class="form-control" id="phone"
                       autocomplete="off"
                       name='phone' value="" required>
            </div>

            <hr>
            <input type="submit" class="btn btn-primary" value="Sign up">
        </form>
    </div>
    <div class="border-top pt-3 mt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="">Sign In</a>
        </small>
    </div>
{{end}}
